<h1>Управление каталогом</h1>

<div class="actions">
  <button class="add-button" [routerLink]="['/admin/create-product']">
    Добавить товар
  </button>
</div>

<div class="table-header">
  <div class="header-cell">Изображение</div>
  <div class="header-cell">Название</div>
  <div class="header-cell">Цена</div>
  <div class="header-cell">Количество</div>
  <div class="header-cell">Категория</div>
  <div class="header-cell">Бренд</div>
  <div class="header-cell">Страна</div>
  <div class="header-cell">Действия</div>
</div>
<div class="products-table">
  <div class="table-row" *ngFor="let product of products">
    <div class="table-cell">
      <img [src]="product.image" alt="{{ product.name }}" />
    </div>
    <div class="table-cell">{{ product.name }}</div>
    <div class="table-cell">{{ product.price }}</div>
    <div class="table-cell">{{ product.quantity }}</div>
    <div class="table-cell">{{ product.productCategory }}</div>
    <div class="table-cell">{{ product.brand }}</div>
    <div class="table-cell">{{ product.country }}</div>
    <div class="table-cell">
      <button
        [routerLink]="['/admin/update-product', product.productId]"
        class="edit-button"
      >
        Редактировать
      </button>
      <button class="delete-button">Удалить</button>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading-indicator">Загрузка...</div>
<div *ngIf="hasMoreData == false" class="no-more-data">
  Нет данных для отображения
</div>

<button
  *ngIf="!loading && hasMoreData"
  class="load-more-button"
  (click)="loadProducts()"
>
  Загрузить ещё
</button>
