<h1>Управление каталогом</h1>

<div class="actions">
  <button
    class="bi bi-clipboard2 btn btn-outline-success mx-2"
    [routerLink]="['/admin/create-product']"
  >
    Добавить товар
  </button>

  <button
    type="button"
    class="bi bi-clipboard2 btn btn-outline-success mx-2"
    data-bs-toggle="modal"
    data-bs-target="#brandsModal"
  >
    Управление брендами
  </button>
  <app-brand-manage #brandsModal></app-brand-manage>

  <button
    type="button"
    class="bi bi-clipboard2 btn btn-outline-success mx-2"
    data-bs-toggle="modal"
    data-bs-target="#countriesModal"
  >
    Управление странами
  </button>
  <app-country-manage #countriesModal></app-country-manage>
</div>

<div class="filters-container">
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Поиск по названию..."
      class="search-input"
    />
    <button class="search-button" (click)="searchProducts()">Поиск</button>
  </div>

  <div class="status-filter">
    <label>Статус товара:</label>
    <select
      [(ngModel)]="archiveStatus"
      (change)="applyFilters()"
      class="status-select"
    >
      <option value="all">Все товары</option>
      <option value="active">Только активные</option>
      <option value="archived">Только архивные</option>
    </select>
  </div>
</div>

<div class="table-container">
  <div class="table-header">
    <div class="header-cell image-cell">Изображение</div>
    <div class="header-cell name-cell">Название</div>
    <div class="header-cell price-cell">Цена</div>
    <div class="header-cell quantity-cell">Количество</div>
    <div class="header-cell category-cell">Категория</div>
    <div class="header-cell brand-cell">Бренд</div>
    <div class="header-cell country-cell">Страна</div>
    <div class="header-cell actions-cell">Действия</div>
  </div>
  <div class="products-table">
    <div
      class="table-row"
      *ngFor="let product of filteredProducts"
      [routerLink]="['/admin/update-product', product.productId]"
    >
      <div class="table-cell image-cell">
        <img [src]="product.image" alt="{{ product.name }}" />
      </div>
      <div class="table-cell name-cell">{{ product.name }}</div>
      <div class="table-cell price-cell">{{ product.price }} руб.</div>
      <div class="table-cell quantity-cell">{{ product.quantity }}</div>
      <div class="table-cell category-cell">{{ product.productCategory }}</div>
      <div class="table-cell brand-cell">{{ product.brand }}</div>
      <div class="table-cell country-cell">{{ product.country }}</div>
      <div class="table-cell actions-cell">
        <button
          [class]="product.isArchive ? 'restore-button' : 'delete-button'"
          (click)="
            product.isArchive
              ? changeArchiveStatusToProduct(product.productId, false, $event)
              : changeArchiveStatusToProduct(product.productId, true, $event)
          "
        >
          {{ product.isArchive ? "Восстановить" : "В архив" }}
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading-indicator">Загрузка...</div>
<div *ngIf="hasMoreData == false" class="no-more-data">
  Нет данных для отображения
</div>

<button
  *ngIf="!loading && hasMoreData"
  class="load-more-button"
  (click)="uploadProducts()"
>
  Загрузить ещё
</button>
