<h1>Изменение товара</h1>

<div class="product-form-container">
  <div *ngIf="productToUpdate" class="product-form">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Название товара:</label>
        <input type="text" id="name" formControlName="name" />
      </div>

      <div *ngIf="optionsForProduct.brands" class="form-group">
        <label for="brand">Бренд:</label>
        <select id="brand" formControlName="brand">
          <option
            *ngFor="let brand of optionsForProduct.brands"
            [value]="brand.brandId"
          >
            {{ brand.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="country">Страна производства:</label>
        <select id="country" formControlName="country">
          <option
            *ngFor="let country of optionsForProduct.countries"
            [value]="country.countryId"
          >
            {{ country.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="category">Категория:</label>
        <select
          id="category"
          formControlName="category"
          (change)="getCategoryProperty($event)"
        >
          <option
            *ngFor="let category of optionsForProduct.productCategories"
            [value]="category.productCategoryId"
          >
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="price">Цена:</label>
        <input type="number" id="price" formControlName="price" />
      </div>

      <div class="form-group">
        <label for="quantity">Количество на складе:</label>
        <input type="number" id="quantity" formControlName="quantity" />
      </div>

      <div class="form-group">
        <label for="description">Описание:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>

      <div *ngIf="photos" class="form-group">
        <label for="photos">Фото товара (максимум 4):</label>
        <div class="photos-upload">
          <input
            type="file"
            id="photos"
            accept="image/*"
            multiple
            (change)="onPhotosChange($event)"
            style="display: none"
          />
          <label
            *ngIf="!productToUpdate.isArchive"
            for="photos"
            class="action-button"
          >
            {{ photos.length < 4 ? "Добавить фото" : "Максимум 4 фото" }}
          </label>
          <div class="photos-preview">
            <div *ngFor="let photo of photos; let i = index" class="photo-item">
              <img [src]="[photosToView[i]]" [alt]="photosToView[i]" />
              <button
                *ngIf="!productToUpdate.isArchive"
                type="button"
                class="delete-button"
                (click)="onPhotoDelete(i)"
              >
                Удалить
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button
          class="archive-button"
          type="button"
          (click)="
            productToUpdate.isArchive
              ? changeArchiveStatus(false)
              : changeArchiveStatus(true)
          "
        >
          {{
            productToUpdate.isArchive
              ? "Вернуть из архива"
              : "Переместить в архив"
          }}
        </button>
      </div>

      <div *ngIf="!productToUpdate.isArchive" class="form-actions">
        <button type="submit" class="save-button">Обновить товар</button>
        <button type="button" class="cancel-button" (click)="exit()">
          Отмена
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="productToUpdate && propertiesForm" class="properties-form">
    <h2>Свойства товара</h2>
    <form [formGroup]="propertiesForm">
      <div *ngFor="let property of productProperties" class="form-group">
        <label [for]="property.name">{{ property.name }}:</label>
        <input
          *ngIf="property.isRanged"
          type="number"
          [formControlName]="property.productPropertyId"
          [id]="property.productPropertyId"
          placeholder="Введите число"
        />
        <input
          *ngIf="!property.isRanged"
          type="text"
          [formControlName]="property.productPropertyId"
          [id]="property.productPropertyId"
          placeholder="Введите текст"
        />
      </div>
    </form>
  </div>
</div>
