<div class="product-page">
  <div class="list">
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/994/994414.png" />
      <p>В избранное</p></span
    >
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/1828/1828453.png" />
      <p>В корзину</p></span
    >
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/481/481384.png" />
      <p>К сравнению</p></span
    >
  </div>

  <div class="product">
    <div class="another-photos">
      <div class="photo">
        <img [src]="product.image" />
      </div>
      <div class="photo">
        <img [src]="product.image" />
      </div>
      <div class="photo">
        <img [src]="product.image" />
      </div>
      <div class="photo">
        <img [src]="product.image" />
      </div>
    </div>

    <div class="big-photo">
      <img [src]="product.image" />
    </div>
    <div class="card-body">
      <h1 class="card-title">
        {{ product.name }}
      </h1>
      <p class="card-text">{{ product.price }} p.</p>
      <p class="card-text">
        {{ product.description }}
      </p>
      <a href="#" class="btn btn-primary">В корзину</a>
    </div>
  </div>
</div>
