.container {
  display: flex;
  min-width: 90%;
  max-width: 90%;
  // width: 90%;
  margin: 0 auto;
}
.left {
  flex: 1;
  // background-color: lightblue;
}
.right {
  flex: 3;
  // background-color: lightcoral;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 16px;
  padding: 24px 70px;
}
