<div class="navbar header mx-5 border-bottom border-black d-flex flex-column">
  <nav class=".container-xxl">
    <div class="hightMenu d-inline-flex">
      <a routerLink="/">Главная</a>
      <a routerLink="/payment">Оплата</a>
      <a routerLink="/delivery">Доставка</a>
      <a routerLink="/products">Товары</a>
    </div>
  </nav>
  <div class="middleMenu d-inline-flex">
    <h1 routerLink="/" style="cursor: pointer">MySpace</h1>
    <input />
    <span class="buttons d-flex">
      <span>
        <img src="https://cdn-icons-png.flaticon.com/128/994/994414.png" />
        <a>Сравнение</a>
      </span>

      <!-- <span
        [routerLink]="['/login']"
        [queryParams]="{ returnUrl: this.router.url }"
      >
        <img src="https://cdn-icons-png.flaticon.com/128/1828/1828453.png" />
        <a>Войти</a>
      </span> -->
      <ng-container *ngIf="authService.isLoggedIn(); else loginButton">
        <span *ngIf="adminService.isAdmin; else userTemplate">
          <button>Админ</button>
        </span>
        <ng-template #userTemplate>
          <button>{{ authService.userEMail }}</button>
        </ng-template>
      </ng-container>
      <ng-template #loginButton>
        <span
          [routerLink]="['/login']"
          [queryParams]="{ returnUrl: this.router.url }"
        >
          <img src="https://cdn-icons-png.flaticon.com/128/1828/1828453.png" />
          <a>Войти</a>
        </span>
      </ng-template>

      <span routerLink="cart">
        <img src="https://cdn-icons-png.flaticon.com/128/481/481384.png" />
        <a>Корзина</a>
      </span>
    </span>
  </div>
  <div class="lowMenu d-inline-flex mt-3">
    <a [routerLink]="['/category/шуруповёрты']">Шуруповёрты</a>
    <a [routerLink]="['/category/топоры']">Топоры</a>
    <a [routerLink]="['/category/отвёртки']">Отвертки</a>
    <a [routerLink]="['/category/string']">Пилы</a>
    <a>Молотки</a>
    <a>Плоскогубцы</a>
    <a>Электро-инструменты</a>
    <a>Гаечные ключи</a>
    <a>Бензопилы</a>
  </div>
</div>
