<div class="cart">
  <div class="cart-catalog">
    <app-cart-item
      *ngFor="let item of items"
      [item]="item"
      [cartPage]="this"
    ></app-cart-item>

    <div class="total">
      <h2>Итого: {{ totalPrice }} руб.</h2>
      <button class="checkout">Оформить заказ</button>
    </div>
  </div>

  <div class="registration-form">
    <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
      <div class="line">
        <div class="form-group">
          <label for="name">Имя:</label>
          <input type="text" id="name" name="name" ngModel required />
        </div>
        <div class="form-group">
          <label for="phone">Телефон:</label>
          <input type="tel" id="phone" name="phone" ngModel required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ngModel required />
        </div>
      </div>
      <div class="line">
        <div class="form-group">
          <label for="city">Город:</label>
          <input type="text" id="city" name="city" ngModel required />
        </div>
        <div class="form-group">
          <label for="street">Улица:</label>
          <input type="text" id="street" name="street" ngModel required />
        </div>
        <div class="form-group">
          <label for="houseNumber">Номер дома:</label>
          <input
            type="text"
            id="houseNumber"
            name="houseNumber"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="apartment">Квартира:</label>
          <input type="text" id="apartment" name="apartment" ngModel />
        </div>
      </div>
      <div class="form-group">
        <label>Способ доставки:</label>
        <select
          *ngIf="orderOptions"
          ngModel
          required
          name="deliveryMethodId"
        >
          <option
            *ngFor="let deliveryMethod of orderOptions.deliveryMethods"
            [value]="deliveryMethod.deliveryMethodId"
          >
            {{ deliveryMethod.name }} ({{ deliveryMethod.price }} руб.)
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Способ оплаты:</label>
        <select
          *ngIf="orderOptions"
          ngModel
          required
          name="paymentMethodId"
        >
          <option
            *ngFor="let paymentMethod of orderOptions.paymentMethods"
            [value]="paymentMethod.paymentMethodId"
          >
            {{ paymentMethod.name }}
          </option>
        </select>
      </div>
      <button type="submit" [disabled]="orderForm.invalid">Зарегистрироваться</button>
    </form>
  </div>
</div>
