:host {
  display: flex;
  font-family: Arial, sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(231, 230, 230);
}

.cart {
  display: flex;

  .cart-catalog {
    min-width: 900px;
    max-width: 900px;
    margin-top: 10px;

    .total {
      text-align: right;
      margin: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;

      button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        &:hover {
          background-color: #555;
        }
      }
    }
  }
}

.registration-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 480px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  .line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .form-group {
    flex-grow: 1;
    flex-basis: 240px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      flex-grow: 1;
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;

    button {
      flex-grow: 1;
      margin: 20px;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .option {
      margin: 10px;
      flex-grow: 1;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      flex-basis: 200px;
      cursor: pointer;
    }

    .option.selected {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }
  }
}
