.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  width: auto;
  height: auto;

  .cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15%;
    }
  }

  img {
    max-width: 130px;
    height: auto;
    margin-right: 20px;
    border: 1px solid black;
  }

  .number-control{
    button{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
