<div class="cart-item">
  <img
    [src]="item.product.image"
    [alt]="item.product.name"
    [routerLink]="['/product/' + item.product.productId]"
  />
  <div class="cart-info">
    <h5
      [routerLink]="['/product/' + item.product.productId]"
      class="product-name"
    >
      {{ item.product.name }}
    </h5>
    <div class="price-controls">
      <p class="price">{{ item.product.price }} руб.</p>
      <div class="number-control">
        <button
          (click)="changeQuantity(false)"
          [disabled]="item.quantity <= 1"
          [style.backgroundColor]="item.quantity <= 1 ? 'grey' : ''"
        >
          -
        </button>
        <p>{{ item.quantity }}</p>
        <button (click)="changeQuantity(true)">+</button>
      </div>
      <p class="total-price">{{ item.product.price * item.quantity }} руб.</p>
      <button class="remove-btn" (click)="removeItem()">Удалить</button>
    </div>
  </div>
</div>
