<div class="cart-item">
  <img
    [src]="item.productImage"
    [alt]="item.productName"
    [routerLink]="['/product/' + item.productId]"
  />
  <div class="cart-info">
    <h5 [routerLink]="['/product/' + item.productId]" class="product-name">
      {{ item.productName }}
    </h5>
    <div class="price-controls">
      <p class="price">{{ item.productPrice }} руб.</p>
      <div class="number-control">
        <button
          (click)="changeQuantity(false)"
          [disabled]="item.quantity <= 1"
          [style.backgroundColor]="item.quantity <= 1 ? 'grey' : ''"
        >
          -
        </button>
        <p>{{ item.quantity }}</p>
        <button (click)="changeQuantity(true)">+</button>
      </div>
      <p class="total-price">{{ item.productPrice * item.quantity }} руб.</p>
      <button class="remove-btn" (click)="removeItem()">Удалить</button>
    </div>
  </div>
</div>
