<div class="sidebar">
  <h2>Панель администратора</h2>
  <nav>
    <a [routerLink]="['/admin']" class="nav-link">Главная</a>
    <a [routerLink]="['/admin/catalog']" class="nav-link"
      >Управление каталогом</a
    >
    <a [routerLink]="['/admin/categories']" class="nav-link"
      >Управление категорями</a
    >
    <a [routerLink]="['/admin/orders']" class="nav-link">Управление заказами</a>
    <a [routerLink]="['/admin/users']" class="nav-link"
      >Управление пользователями</a
    >
    <a [routerLink]="['/admin/reports']" class="nav-link">Генерация отчетов</a>
    <button (click)="exitFromAdminMode()" class="nav-link">
      Вернуться в режим юзера
    </button>
  </nav>
</div>
