:host {
  display: block;
  width: 260px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: 100vh;
  //border-right: 1px solid #e0e0e0;
  //box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  /* Тень справа */

  .sidebar {
    padding: 20px;

    h2 {
      text-align: center;
      margin-bottom: 36px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.2em;
    }

    nav {
      display: flex;
      flex-direction: column;

      .nav-link {
        padding: 10px;
        color: rgb(2, 2, 2);
        text-decoration: none;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #bebebe;
        }
      }
    }
  }
}
