<div class="product-page">
  <div class="product" *ngIf="product">
    <div class="product-top">
      <div class="gallery">
        <div class="thumbnails">
          <div
            class="thumbnail"
            *ngFor="let img of product.images"
            (click)="selectImage(img)"
          >
            <img [src]="img" [alt]="product.name" />
          </div>
        </div>
        <div class="main-image">
          <img
            [src]="selectedImage || product.images[0]"
            [alt]="product.name"
          />
        </div>
      </div>

      <div class="product-info">
        <h1 class="title">{{ product.name }}</h1>
        <div class="price">{{ product.price }} руб.</div>

        <div class="actions">
          <button id="addToCart" class="add-to-cart" (click)="addToCart()">
            В корзину
          </button>
          <button class="add-to-compare" (click)="addToComparison()">
            К сравнению
          </button>
        </div>
      </div>
    </div>

    <div class="product-bottom">
      <div class="description">
        <h3>Описание</h3>
        <p>{{ product.description }}</p>
      </div>

      <div class="properties">
        <h3>Характеристики</h3>
        <div
          class="property"
          *ngFor="let prop of product.productPropertyValues"
        >
          <span class="name">{{ prop.name }}:</span>
          <span class="value">{{ prop.value }}</span>
        </div>
      </div>
    </div>

    <div class="similar-products" *ngIf="simmularProducts.length > 0">
      <h2>Похожие товары</h2>
      <div class="products-scroll">
        <app-product-card
          *ngFor="let product of simmularProducts"
          [product]="product"
        >
        </app-product-card>
      </div>
    </div>

    <div class="comments-section">
      <h2>Отзывы</h2>
      <div *ngIf="authService.isLoggedIn()" class="comment-form">
        <h3>Оставить отзыв</h3>
        <textarea
          [(ngModel)]="newComment"
          placeholder="Ваш отзыв..."
          maxlength="1000"
          rows="3"
        ></textarea>
        <button (click)="addComment()" [disabled]="!newComment">
          Отправить
        </button>
      </div>

      <button
        class="to-login-btn"
        [routerLink]="['/login']"
        *ngIf="!authService.isLoggedIn()"
      >
        Зарегистрируйтесь, что бы оставлять комментарии
      </button>

      <cdk-virtual-scroll-viewport
        class="comments-viewport"
        itemSize="70"
        [style.height.px]="viewportHeight"
      >
        <div
          class="comment animate__animated animate__fadeInUp"
          *cdkVirtualFor="let comment of comments; let $index = index"
          [style.animation-delay.ms]="100 * $index"
        >
          <div class="comment-header">
            <span class="user-name">{{ comment.userName }}</span>
            <span class="comment-date">{{
              comment.creationDate | date : "dd.MM.yyyy"
            }}</span>
          </div>
          <p class="comment-text">{{ comment.text }}</p>
        </div>
      </cdk-virtual-scroll-viewport>

      <button class="expand-btn" (click)="toggleViewportSize()">
        {{ expanded ? "Свернуть" : "Развернуть" }}
      </button>
    </div>
  </div>
</div>
