<div class="product-page">
  <div class="product" *ngIf="product">
    <div class="gallery-section">
      <div class="thumbnail-container">
        <div
          class="thumbnail"
          *ngFor="
            let img of [
              product.productResponseData.image,
              product.productResponseData.image,
              product.productResponseData.image
            ]
          "
        >
          <img
            [src]="img"
            [alt]="product.productResponseData.name"
            (click)="selectImage(img)"
          />
        </div>
      </div>
      <div class="main-image">
        <img
          [src]="selectedImage || product.productResponseData.image"
          [alt]="product.productResponseData.name"
        />
      </div>
    </div>

    <div class="product-info">
      <h1 class="product-title">{{ product.productResponseData.name }}</h1>
      <div class="price-section">
        <span class="price">{{ product.productResponseData.price }} руб.</span>
        <div class="actions">
          <button id="addToCart" class="btn-cart" (click)="addToCart()">
            <span>В корзину</span>
          </button>
        </div>
      </div>

      <div class="description-section">
        <h3>Описание</h3>
        <p>{{ product.productResponseData.description }}</p>
      </div>

      <div class="properties-section">
        <h3>Характеристики</h3>
        <div class="property" *ngFor="let propName of propertyNames">
          <span class="property-name">{{ propName }}:</span>
          <span class="property-value">{{ product.properties[propName] }}</span>
        </div>
      </div>
    </div>

    <div class="comments-section">
      <h2>Отзывы</h2>

      <div class="comment-form">
        <h3>Оставить отзыв</h3>
        <textarea
          maxlength="1000"
          [(ngModel)]="newComment"
          placeholder="Ваш отзыв..."
          rows="3"
        ></textarea>
        <button
          class="btn-submit"
          (click)="addComment()"
          [disabled]="!newComment"
        >
          Отправить
        </button>
      </div>

      <div class="comments-list">
        <div class="comment" *ngFor="let comment of comments">
          <div class="comment-header">
            <span class="user-name">{{ comment.userName }}</span>
            <span class="comment-date">{{
              comment.creationDate | date : "dd.MM.yyyy"
            }}</span>
          </div>
          <p class="comment-text">
            {{ comment.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
