$font-f: 'Arial';

.product-card {
    font-family: $font-f;
    border-radius: 12px;
    background-color: #FFFFFF;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;


    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;

    .img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 12px;
        object-fit: cover;
    }

    .price {
        font-size: 24px;
        font-weight: 700;
        line-height: 28.78px;
    }

    .title {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.78px;
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.18px;

        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
