<div *ngIf="user">
  <h2>{{ user.firstName }} {{ user.surname }}</h2>
  <p>Телефон: {{ user.telephone }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Адресс последней доставки</p>
  <p>Город: {{ user.city }}</p>
  <p>Улица: {{ user.street }}</p>
  <p>Дом: {{ user.houseNumber }}</p>
  <p>Подъезд: {{ user.entrance }}</p>
  <p>Квартира: {{ user.flat }}</p>

  <button (click)="logout()">Выйти</button>

  <div class="profile-edit-container">
    <h3>Редактировать профиль</h3>
    <form [formGroup]="userForm" (ngSubmit)="updateUser()">
      <div class="form-row">
        <label for="firstName">Имя</label>
        <input type="text" id="firstName" formControlName="firstName" />
      </div>
      <div class="form-row">
        <label for="surname">Фамилия</label>
        <input type="text" id="surname" formControlName="surname" />
      </div>
      <div class="form-row">
        <label for="telephone">Телефон</label>
        <input
          type="text"
          id="telephone"
          formControlName="telephone"
          placeholder="+375 11 111-11-11"
        />
      </div>
      <div class="form-row">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <button type="submit">Обновить</button>
    </form>
  </div>

  <h3>История покупок</h3>
  <div class="order-card" *ngFor="let order of paidOrders">
    <h4>Дата заказа: {{ order.orderDate | date : "dd.MM.yyyy" }}</h4>
    <div class="order-item" *ngFor="let item of order.paidOrderItems">
      <img [src]="item.productData.image" alt="{{ item.productData.name }}" />
      <div class="item-details">
        <p><strong>Название:</strong> {{ item.productData.name }}</p>
        <p><strong>Бренд:</strong> {{ item.productData.brand }}</p>
        <p><strong>Колличество:</strong> {{ item.quantity }}</p>
        <p><strong>Цена:</strong> {{ item.price }} руб.</p>
      </div>
    </div>
    <p class="order-total">
      <strong>Общая сумма заказа:</strong> {{ getOrderTotal(order) }} руб.
    </p>
  </div>
</div>
